<mat-card class="shad m-5 p-5">
    <div class="container my-4">
        <h1 class="text-center">Welcome to Our Store </h1>
    </div>
    <div class="row" *ngIf="length!=0;else elseBlock">
        <div *ngFor="let b of books" class="col-3 p-2">
            <app-book-card [book]='b' ></app-book-card>
          </div>
    </div>
    <ng-template #elseBlock>
        <div class="alert alert-secondary text-center" role="alert">
            There is no Books in the storage
        </div>
    </ng-template>
</mat-card>