<mat-card class="shad m-5">
    <div class="container my-4">
        <h1 class="text-center">List of books</h1>
    </div>
    <div class="my-5 ajout">
        <button class="btn btn-dark " (click)="clickAddBook()">Add Book </button>
    </div>
    <div class="mx-5 my-5 resp ">
        <table class="table" *ngIf="length!=0;else elseBlock">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Picture </th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Author</th>
                    <th class="text-center">Release date</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Delete</th>
                    <th class="text-center">Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of books">
                    <th class="text-center"><img width="50px" height="50px" src="{{b.picture}}"></th>
                    <th class="text-center">{{b.title}}</th>
                    <th class="text-center">{{b.author}}</th>
                    <th class="text-center">{{b.date | date:'dd/MM/yyyy'}}</th>
                    <th class="text-center">{{b.price}}</th>
                    <th class="text-center">{{b.quantity}}</th>
                    <th class="text-center"><a (click)="delete(b.id)" class="cur">
                        <span><i class="fas fa-trash-alt text-danger"></i></span></a>
                    </th>
                    <th class="text-center"><a (click)="clickUpdateBook(b)" class="cur"><span>
                        <i class="fas fa-edit text-primary"></i></span></a>
                    </th>
                </tr>
            </tbody>
        </table>
        <ng-template #elseBlock>
            <div class="alert alert-secondary text-center" role="alert">
                There is no Books in the storage
            </div>
        </ng-template>
    </div>
</mat-card>

<!-- 
  <div *ngFor="let b of books" class="col-3 p-2">
    <app-book-card [title]='b.title' [price]='b.price' [imgUrl]='b.imgUrl' [stock]='b.stock'></app-book-card>
  </div> -->