<div class="row cc mx-0"> 
    <div class="navbar-left my-3 ">
        <button class="btn btn-menu" (click)="sideBarToggler()"><i class="fas fa-bars"></i></button>
    </div>


    <div class="navbar-brand "> 
        <h3 > BookStore </h3>
    </div>
    <div class="navbar-right mt-3 mx-5">
        

        <div  class="dropdown" >
            <button class="btn btn-circle mx-4 " type="button" data-toggle="dropdown"> <i matBadge={{count}} matBadgeColor="warn" class="fas fa-globe-africa"></i></button>
            <ul  class="dropdown-menu"  >
                <li class="text-center"><h6>Notifications : <br><span *ngIf="count==0">Vous n'avez aucune notification</span> </h6> </li>
            </ul>
        </div>

        
        <button class="btn btn-circle mx-2" mat-button [matMenuTriggerFor]="menu"><i class="fas fa-users-cog"></i></button>
            <mat-menu #menu="matMenu">
                <button (click)="logout()" mat-menu-item><i class="fas fa-sign-out-alt mx-1"></i>Déconnexion</button>
            </mat-menu>
    </div>
</div> 
