<div class="sidebar-container">
    <div class="container"><img src="../../assets/aka.jpg" ></div>
    <div class="sidebar-logo"><i class="fas fa-user mx-2"></i> {{firstName}} {{lastName}}</div>
    <ul class="sidebar-navigation" routerLinkActive="active">
      <li class="header"> Menu </li>
      <li ><a routerLink="/accueil"><i class="fa fa-home mx-2"></i> Home </a></li>
      <li  class="header"> BookStore Management </li>
      <li ><a routerLink="/books" ><i class="fas fa-book mx-2"></i> Books </a></li>
      <!--<li ><a routerLink="/commands"><i class="fas fa-copy mx-2"></i> Commands </a></li>
      <li class="header">Controls</li>
      <li><a routerLink="/users"><i class="fas fa-user-tag mx-2"></i> Users And Roles </a></li>-->
    </ul>
  </div>