<h2 mat-dialog-title class="title text-center">{{title}}</h2>
<mat-dialog-content>
    <form [formGroup]="bookForm">
        <div class="form-group mt-4">
            <mat-form-field appearance="legacy">
                <mat-label>Title of the book :</mat-label>
                <input matInput formControlName="title" placeholder="Title of the book">
            </mat-form-field>
        </div>
        <div *ngIf="bookForm.controls['title'].hasError('required')&&(bookForm.controls['title'].touched)">
            <small class="text-danger">This field is empty !</small>
        </div>

        <div class="form-group mt-4">
            <mat-form-field appearance="legacy">
                <mat-label>Author of the book :</mat-label>
                <input matInput formControlName="author" placeholder="Author of the book">
            </mat-form-field>
        </div>
        <div *ngIf="bookForm.controls['author'].hasError('required')&&(bookForm.controls['author'].touched)">
            <small class="text-danger">This field is empty !</small>
        </div>

        <div class="form-group mt-4">
            <mat-form-field appearance="legacy">
                <mat-label>Release date of the book :</mat-label>
                <input matInput [matDatepicker]="date" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
        </div>
        <div *ngIf="bookForm.controls['date'].hasError('required')&&(bookForm.controls['date'].touched)">
            <small class="text-danger">This field is empty !</small>
        </div>

        <div class="form-group mt-4">
            <mat-form-field appearance="legacy">
                <mat-label>Price of the book :</mat-label>
                <input type="number" matInput formControlName="price" placeholder="Price of the book">
            </mat-form-field>
        </div>
        <div *ngIf="bookForm.controls['price'].hasError('required')&&(bookForm.controls['price'].touched)">
            <small class="text-danger">This field is empty !</small>
        </div>

        <div class="form-group mt-4">
            <mat-form-field appearance="legacy">
                <mat-label>Quantity of the book :</mat-label>
                <input type="number" matInput formControlName="quantity" placeholder="Quantity of the book">
            </mat-form-field>
        </div>
        <div *ngIf="bookForm.controls['quantity'].hasError('required')&&(bookForm.controls['quantity'].touched)">
            <small class="text-danger">This field is empty !</small>
        </div>

        <div class="form-group mt-4">
            <mat-form-field appearance="legacy">
                <mat-label>Image of the book :</mat-label>
                <input matInput formControlName="picture" placeholder="Image of the book">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="mb-3">
    <button mat-dialog-close (click)="save()" class="btn btn-lg btn-success mx-4 mt-4"
        [disabled]="(bookForm.invalid)">Submit</button>
    <button mat-dialog-close class="btn btn-lg btn-danger mx-4 mt-4">Cancel</button>
</mat-dialog-actions>